@import ("./_header.scss")

$primButton : rgb(60, 69, 158);

@import "./header";

@mixin flexcenter {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    @include flexcenter;
    position: relative;
    top: 100px;
    background: #ff6961;
}

.containcontainer {
    background: #ff6961;
    height: 700px;
}

img {
    @include roundCorners;
    height: 300px;
    
}